.movie-card-sm {
  cursor: pointer;
  position: relative;
}

.movie_arrow-sm {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.image-movie-all {
  height: 100%;
}
